<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wetsion.framework.mitosis.datasource.mapper.LabelMapper">

    <sql id="TABLE_NAME">tb_label</sql>

    <sql id="COLUMNS">
        id, <include refid="COLUMNS_NO_KEY"/>
    </sql>

    <sql id="COLUMNS_NO_KEY">
        `code`, `name`, `dataType`, `created`, `updated`, `deleted`
    </sql>

    <select id="listByCondition" resultType="site.wetsion.framework.mitosis.model.entity.LabelDO">
        SELECT <include refid="COLUMNS"/> FROM <include refid="TABLE_NAME"/>
        <where>
            `deleted` = 0
            <if test="param != null and param.name != null">
                AND `name` LIKE CONCAT(#{param.name}, '%')
            </if>
            <if test="param != null and param.dataType != null">
                AND `dataType` = #{param.dataType}
            </if>
        </where>
    </select>

    <select id="countByCondition" resultType="long">
        SELECT COUNT(*) FROM <include refid="TABLE_NAME"/>
        <where>
            `deleted` = 0
            <if test="param != null and param.name != null">
                AND `name` LIKE CONCAT(#{param.name}, '%')
            </if>
            <if test="param != null and param.dataType != null">
                AND `dataType` = #{param.dataType}
            </if>
        </where>
    </select>

    <select id="pageByCondition" resultType="site.wetsion.framework.mitosis.model.entity.LabelDO">
        SELECT <include refid="COLUMNS"/> FROM <include refid="TABLE_NAME"/>
        <where>
            `deleted` = 0
            <if test="param != null and param.name != null">
                AND `name` LIKE CONCAT(#{param.name}, '%')
            </if>
            <if test="param != null and param.code != null">
                AND `code` LIKE CONCAT(#{param.code}, '%')
            </if>
            <if test="param != null and param.dataType != null">
                AND `dataType` = #{param.dataType}
            </if>
        </where>
        <if test="page != null">
            LIMIT #{page.sqlLimit}
            OFFSET #{page.sqlOffset}
        </if>
    </select>

    <select id="listByIdList" resultType="site.wetsion.framework.mitosis.model.entity.LabelDO">
        SELECT <include refid="COLUMNS"/> FROM <include refid="TABLE_NAME"/>
        WHERE `deleted` = 0 AND id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <insert id="create" parameterType="site.wetsion.framework.mitosis.model.entity.LabelDO">
        INSERT INTO <include refid="TABLE_NAME"/>( <include refid="COLUMNS_NO_KEY"/> )
        VALUES (#{data.code}, #{data.name}, #{data.dataType}, unix_timestamp(now()), unix_timestamp(now()), 0)
    </insert>

</mapper>