<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wetsion.framework.datasource.mapper.TemplateLabelMapper">

    <sql id="TABLE_NAME">template_label</sql>

    <select id="listByCondition" resultType="site.wetsion.framework.mitosis.model.entity.TemplateLabelDO">
        SELECT * FROM <include refid="TABLE_NAME"/>
        <where>
            <if test="param != null and param.name != null">
                `name` LIKE CONCAT(#{param.name}, '%')
            </if>
            <if test="param != null and param.dataType != null">
                AND `dataType` = #{param.dataType}
            </if>
        </where>
    </select>

</mapper>