<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wetsion.framework.mitosis.datasource.mapper.TemplateLabelRelationMapper">

    <sql id="TABLE_NAME">tb_template_label</sql>

    <sql id="COLUMNS">
        id, <include refid="COLUMNS_NO_KEY"/>
    </sql>

    <sql id="COLUMNS_NO_KEY">
        `templateId`, `labelId`, `code`, `labelLocationPk`, `created`, `updated`, `deleted`
    </sql>

    <select id="listByTemplateId" resultType="site.wetsion.framework.mitosis.model.entity.TemplateLabelRelationDO">
        SELECT <include refid="COLUMNS"/> FROM <include refid="TABLE_NAME"/>
        where `deleted` = 0 AND `templateId` = #{templateId}
    </select>

    <update id="deleteRelatedLabels">
        UPDATE <include refid="TABLE_NAME"/>
        SET `deleted` = unix_timestamp(now())
        WHERE `templateId` = #{templateId}
    </update>

    <insert id="insertRelatedLabels">
        INSERT INTO <include refid="TABLE_NAME"/>( <include refid="COLUMNS_NO_KEY"/> )
        VALUES
        <foreach collection="relations" item="relation" separator=",">
            (#{relation.templateId}, #{relation.labelId}, #{relation.code}, #{relation.labelLocationPk},
            unix_timestamp(now()), unix_timestamp(now()), 0)
        </foreach>
    </insert>

</mapper>